.title {
    padding: 50px 0;
    text-align: center;
    background-color: var(--theme-3-color-brand);
    margin: 0;
}

  .theme-2 {
    --header-background-color: var(--theme-2-color-brand);
    --header-text-color: var(--theme-2-color-white);
    --header-justify-text: var(--theme-2-header-justify-text);
    --header-align-text: var(--theme-2-header-align-text);
  
    --button-like-background: var(--theme-2-button-background-color);
    --button-like-background-hover: var(--theme-2-button-like-hover);
    --button-font-family: var(--theme-2-font-family-primary);
    --button-text-color: var(--theme-2-button-text-color);
    // --button-padding: var(--theme-2-button-padding);
    --button-font-size: var(--theme-2-button-font-size);
    
    --theme-transition: var(--theme-2-transition);

    --custom-card-width-size-large: 400px;
    --custom-card-height-size-large: 500px;
    
    --custom-card-width-size-small: 220px;
    --custom-card-height-size-small: 300px;
      
    --custom-image-height-size-large: 250px;

    --custom-image-height-size-small: 75px;

    --custom-button-width-size-large: 400px;
    --custom-button-height-size-large: 85px;
    --custom-button-fontSize-size-large: 20px;

    --custom-button-width-size-small: 120px;
    --custom-button-height-size-small: 50px;
    --custom-button-fontSize-size-small: 16px;

    --custom-cardList-grid-size-large: 400px;

    --custom-cardList-grid-size-small: 270px;

    --custom-cardList-gap-size-large: 3rem;
    --custom-cardList-gap-size-small: 1rem;


    --card-border-width: 5px;
    --card-border-color: var(--theme-2-card-border-color);
    --card-border-radius: var(--theme-2-card-border-radius);
    --card-border-style: solid;
    --card-padding: 10px;
    --card-align-items: end;
  
}